body {
    display: flex;
    flex-direction: column;
}

.img-placeholder img {
    height: 250px;
}

.images img {
    width: 120px;
    border-radius: 20%;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}

li {
    list-style: none;
}