* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', "Geneva", Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.img-placeholder img {
    height: 250px;
}

.images img {
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

.footer a {
    text-decoration: underline;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}

li {
    list-style: none;
}

.container, .footer {
    background-color: #1F2937;
}

.container-3 {
    background-color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.link-text, .secondary-text, .footer, .cta-text {
    font-size: 18px;
    color: #E5E7EB;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    max-width: 400px;
}

button, .sign-up {
    color: #F9FAF8;
    background-color: #3882F6;
}

button {
    font-size: 18px;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    padding: 8px 32px;
    font-weight: bold;
}

.info-header-text, .quote-by {
    font-weight: 800;
}

.quote-text {
    font-weight: lighter;
    margin: auto 375px;
}

.info-header-text, .quote-text {
    font-size: 36px;
    color: #1F2937;
}

.header-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 75px 0;
    padding: 18px;
}

.secondary-text {
    max-width: 450px;
    padding-bottom: 12px;
}

.header-body div button {
    border: none;
}

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.info-header-text {
    padding: 50px;
}

.images, .img-subtext {
    display: inherit;
    gap: 36px;
}

.img-subtext {
    color: rgba(0, 0, 0, 0.651);
    padding-top: 6px;
    text-align: center;
    width: 150px;
}

.container-3 {
    padding: 125px 0;
}

.quote-by {
    font-size: 24px;
    text-align: end;
    margin: auto 425px;
}

.cta {
    font-size: 24px;
    font-weight: bold;
    padding-right: 100px;
}

.cta-text {
    font-weight: normal;
}

.sign-up {
    border-radius: 10px;
    padding: 50px 150px;
}

.container-4, .sign-up  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-4 {
    padding: 100px;
}